.sign-up-form{
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-component{
    margin: 10px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.submit-button{
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.msg{
    color:rgb(3, 158, 80);
}

.err{
    color: red;
}